@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
* {
  margin: 0%;
  padding: 0%;
}
body {
  background-color: #0f0e0e;
  color: cornsilk;
}
.Sidenav {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(76, 71, 71);
  overflow-x: hidden;
  padding-top: 20px;
}

.Sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: lightcoral;
  display: flex;
}

.Sidenav a:hover {
  color: white;
}

.main {
  margin-left: 230px;
  padding: 0px 20px;
}

@media screen and (max-height: 450px) {
  .Sidenav {
    padding-top: 15px;
  }
  .Sidenav a {
    font-size: 18px;
  }
}
*/ .titlehead h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1cm;
  margin-left: 5cm;
}
.titlehead h2 {
  font-family: "Roboto Mono", monospace;
  font-size: 1cm;
  margin-left: 5cm;
  padding-top: 3cm;
}
u {
  text-decoration: underline;
  text-decoration-color: lightcoral;
  text-align: center;
  text-underline-offset: 0.1cm;
}
span {
  color: lightcoral;
}
.titlehead_name {
  margin-left: 5cm;
  font-family: "Roboto Mono", monospace;
  font-size: 0.6cm;
}
.titlehead_description {
  margin-left: 0.3cm;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 0.6cm;
}

.aboutme_description {
  margin-left: 5cm;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 0.6cm;
}

.myeducation h4 {
  color: lightcoral;
  font-size: 0.7cm;
  padding-top: 0.5cm;
  margin-left: 5cm;
}
.myeducation_college {
  margin-left: 5cm;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 0.6cm;
}
.myeducation_highersecondary {
  margin-left: 5cm;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 0.6cm;
}
.myeducation_highschool {
  margin-left: 5cm;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 0.6cm;
}
.myachievements h1 {
  padding-bottom: 0.2cm;
}
.certificates {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-bottom: 1cm;
}

* {
  box-sizing: border-box;
}

.container {
  width: 30%;
  background-color: rgb(124, 115, 115);
  border-radius: 0.5cm;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border-radius: 0.5cm;
}
.c {
  width: 90%;
  background-color: lightcoral;
}
.html {
  width: 90%;
  background-color: lightcoral;
}
.css {
  width: 80%;
  background-color: lightcoral;
}
.js {
  width: 65%;
  background-color: lightcoral;
}
#contactme_details {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 0.6cm;
  padding-top: 0.5cm;
  padding-bottom: 0.5cm;
}
